.top-header{
    width: 100%;
    background-color: var(--main-box-bg);
    color: white;
    text-align: left;
    padding: 0 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}

.search-image{
    width: 25px;
}

.search-button{
    display: flex;
}

.search-button:hover{
    cursor: pointer;
}

.top-header h1 {
    margin: 0;
    padding-top: 2px;
    
    
    font-style: italic;
}

.square{
    border: 1px solid white;
    padding: 0 4px;
    font-style: italic;
    
    
    
}

#logout-button{
    color: #f00;
}

@keyframes popup-appear {
    0%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes popup-disappear {
    0%{opacity: 1;}
    100%{opacity: 0; display: none;}
}

.header-options{
    background-color: #f1f1f1;
    color: black;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    right: 50px;
    top: 50px;
    display: none;
}

.header-options.active{
    display: block;
    animation: popup-appear 0.5s linear forwards;
}

.header-options.innactive{
    animation: popup-disappear 0.5s linear forwards;
}

.header-options ul li {
    cursor: pointer;
}

.header-options ul li:hover{
    color: #bad200;
    transition: 0.2s;
}