@keyframes appear {
    0%{opacity: 0.0;}
    100%{opacity: 1.0;}
}

@keyframes disappear {
    
    0%{opacity: 1.0;}
    100%{opacity: 0.0;}
}


.popup{
    animation: appear 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    position: fixed;
    background-color: white;
    width: 98%;
    right: 1%;
    left: 1%;
    height: 40%;
    top: 20%;
    box-shadow: 0 0 25px #0006;
    display: flex;
    justify-content: center;
    z-index: 2;   
}


.none{
    animation: disappear 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    display: none
}

.close-popup-button{
    font-size: 2em;
    width: 50px;
    display: flex;    
    justify-content: center;
    background-color: #ddd;
    border-radius: 50px;
    position: absolute;
    right: 4px;
    top: 4px;
    margin-bottom: 50px;
}

.popup-info{
    margin-top: 50px;
}