.list-title{
    
    width: fit-content;
    margin: 0 auto;
    padding: 13px;
    background-color: #3b3b3b;
    color: white;
    margin: 7px 14px;
    border-radius: 7px;
}

.list-title.selected{
    background-color: #686868;
}

.list-title.selected:hover{
    cursor: default;
}

.list-title:hover{
    cursor: pointer;
}


.clients-list-wrapper{
    position: relative;
}

.clients-list{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    width: 80%;
    margin: 0 auto;
    scroll-behavior: smooth;
}

.clients-list::-webkit-scrollbar{
    background-color: transparent;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.clients-list::-webkit-scrollbar-thumb{
    background-color: #bad200;
    border-radius: 7px;    
}


.medias-wrapper{
    border-radius: 7px;
    color: white;
    width: 90vw;
    margin: 4px 5%;
    background-color: #3b3b3b;
}


.medias{
    display: flex;
    width: auto;
    margin: 0 auto;
    justify-content: space-evenly;

}

.client-box{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px rgb(97, 97, 97);
    margin: 8px 8px;
    background-color: rgb(240, 240, 240);
    min-width: 220px !important;
    height: 25vh;
    
    
}

.carregando{
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-box{
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll !important;
    
}

.client-box .pedido-details{
    background-color: white;
    border-radius: 7px;
    padding: 2px;
    margin: 3px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
    box-shadow: 0 0 5px rgb(128, 128, 128);
    
}

.order-date.pedido{
    background-color: rgb(224, 224, 224);
    color: rgb(53, 53, 53);
    border-radius: 7px;
    width: fit-content;
    margin: 0;
    padding: 0;
}
.n_pedido{
    font-weight: 500;
}

.scroll-box::-webkit-scrollbar-thumb, .scroll-box::-webkit-scrollbar{
    width: 0;
}

.client-box:hover{
    cursor:default;
}

.client-cpf{
    /*margin-bottom: 15px;*/
    top: 0;
    z-index: 1;
    
    background-color: var(--background-color);
    width: 100%;
    font-weight: 500;
}

.intervalo-medio{
    color: #bad200
}


.pedidos-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}

.card-index{
    text-align: right;
    width: 97%;
    color: rgb(153, 153, 153)
}

.view-options{
    display: flex;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
    gap: 5px   
}

.nav-button{
    position: absolute ;
    z-index: 2;
    color: black;
    padding:  10px;
    
    height: 50%;
    display: flex;
    align-items: center;
    top: 20%
}

.nav-button:hover{
    cursor: pointer;
}

.nav-button.prev{
    left: 4%;
    
    
}

.nav-button.next{
    right: 4%;
    
}

.next-page-nav, .prev-page-nav {
    background-color: #bad200;
    border-radius: 4px;
    padding: 2px 4px;
    color: white;
}

.next-page-nav:hover, .prev-page-nav:hover{
    cursor: pointer;
}

.input-page{
    width: 35px;
}

.nav-button img{
    width: 35px;
}

.nav-button img.inverted{
    transform: rotate(180deg);
}

.recarregar-button{
    background-color: #bad200;
    width: fit-content;
    padding: 6px;
    border-radius: 7px;
    margin: 0 auto;
    margin-bottom: 4px;
}