#login-page{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100vh;
    width: 100vw;
}

.login-form{
    width: 400px;
    display: flex;
    border-radius: 6px;
    flex-direction: column;
    gap: 15px;
    text-align: left;
    background-color: #3b3b3b;
    padding: 50px;
    color: black !important
   
}



@media only screen and (min-width:714px){
    .login-form{
        width: 400px;
    }
}

.login-form label{
    color: #fff;
}


.login-form button{
    color: #fff;
}

.login-form input{
    outline: 0;
    border: 0;
}

:root{
    --input-box-shadow-color: #d2f1f54d;
}

.login-form input{
    border-radius: 5px;
     
    
}

.login-form input:focus{
    box-shadow: 0 0 7px var(--input-box-shadow-color),
                0 0 17px var(--input-box-shadow-color),
                0 0 27px var(--input-box-shadow-color);
}

@keyframes button-active {
    0%{ box-shadow: 0 0 7px var(--input-box-shadow-color);}
    25%{ box-shadow: 0 0 7px var(--input-box-shadow-color),
                     0 0 17px var(--input-box-shadow-color);}
    50% {box-shadow: 0 0 7px var(--input-box-shadow-color),
                        0 0 17px var(--input-box-shadow-color),
                        0 0 27px var(--input-box-shadow-color);}
    75%{ box-shadow: 0 0 7px var(--input-box-shadow-color),
        0 0 17px var(--input-box-shadow-color);}

    100%{ box-shadow: 0 0 0px var(--input-box-shadow-color);}
    }

.login-form button:active{
    animation: button-active 0.1s linear forwards;
}

