.main-pedidos{
    margin: 4px 0; 
}

.main-pedidos .display-flex-row{
    margin: 7px auto;
    gap: 5px;
    justify-content: center;
}

.main-pedidos .display-flex-row input{
    width: 40px;
    
}

.recarregar-button:hover{
    cursor: pointer;
}



@keyframes slide-left {
    0%{left: 50%;}
    100%{left:0%;}
}

@keyframes slide-right {
    0%{left: 0%;}
    100%{left: 50%;}
}

