*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}

:root {
  --background-color: rgb(207, 233, 91)
}

.display-flex-row.center{
  justify-content: center !important;
}

.display-flex-row{
  display: flex;
  align-items: center;
}