.border{
  border: 1px solid white;
}

.br-5{
  border-radius: 5px;
}

.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.flex-row{
  flex-direction: row;
}

.align-center{
  align-items: center;
}

.gx-10{
  gap: 10px
}

.w-full{
  width: 100%;
}

.justify-center{
  justify-content: center;
}

.justify-around{
  justify-content: space-around;
}

.justify-between{
  justify-content: space-between;
}

.font-medium{
  font-size: 1.3em;
}

.font-m-big{
  font-size: 1.4em;
  font-weight: bold;
}

.font-big{
  font-size: 2em;
  font-weight: bold;
}

.text-left{
  text-align: left;
}

.beautiful-border{
  box-shadow: 0 0 6px rgb(15, 15, 15);
  padding: 6px;
}

.h-fit{
  height: fit-content;
}

.gx-5{
  gap: 5%
}

.gx-20{
  gap: 20%
}

.w-500{
  width: 500px;
}

.h-auto{
  height: auto;
}

.w-auto{
  width: 550px;
}

.h-40{
  height: 52px;
}

.h-76{
  height: 76px;
}

.px-5{
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.py-5{
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.my-5{
  margin: 5px 0;
}

.font-black{
  color: #000;
}

.text-center{
  text-align: center;
}

.cursor-pointer{
  cursor: pointer;
}